@charset "utf-8";
/* CSS Document */
html, body {
    height:100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Add Clearfix class to clear stray floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

/* POPUP LOGIN
   ============================= */
#popuplogin {
    position: absolute;
    background: url(../img/bg.png) repeat #ccc;
    height: 228px;
    width: 279px;
    -moz-box-shadow: 5px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    display: none;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

#popuplogin h6 {
    color: #4895d9;
    font-weight: bolder;
}

#popuplogin .body {
    margin-top: 20px;
}

#popuplogin .body label {
    clear: right;
}

#popuplogin .body input {
    border-radius: 14px;
    border: none;
    text-indent: 11px;
    width: 200px;
    height: 30px;
    outline-style: none;
    margin-top: 8px;
}

#popuplogin .body input[type=submit] {
    background-color: #4895d9;
    color: white;
    font-weight: bold;
    border-radius: 0 !important;
    width: 100px;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}