/*--------------------------------------------------
 * 
 * Filename  : typography.scss
 * Descrption: manages site-wide typography settings
 * Version   : 6-7-2012
 * Author    : Ciprian Cociorba
 * 
 --------------------------------------------------*/
body {
  color: #3e3e3e; }

h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 36px; }
  h1 span {
    color: #448ccb; }

h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 28px; }

.smalltext {
  font-size: 12px;
  color: #9e9e9e;
  margin-bottom: 4px;
  display: block; }

h3 {
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 24px; }

.bld {
  font-weight: bold; }

p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  text-align: justify; }
