<!DOCTYPE html>
<head>
    <title>Level 4 projects</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/typography.css" />

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Level 4 projects</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div><!--/.navbar -->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul id="proj-nav" class="nav nav-list">
              <li class="nav-header">Project list</li>
              <% for(var i=0; i<projects.length; i++) {%>
              <li><a href="<%= projects[i] %>"><%= projects[i] %></a></li>
              <% } %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div id="project-detail" class="hero-unit">
            <h1>Hello, world!</h1>
            <h2>Hello, world!</h2>
            <h3>Hello, world!</h3>
            <h4>Hello, world!</h4>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
        </div>
      </div>
    
      <hr />

      <footer>
        <p>Level4 projects 2012-2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript'>
      $("#proj-nav a").click(function(e){
        $("#proj-nav a.active").removeClass("active");
        $(this).parent().addClass('active');

        e.preventDefault();

        var href = $(this).attr('href');
        $.ajax({
          'url': 'projects/' + href,
          'success': function(data){
            var title = '<h1>' + data.title + '</h1>';
            var id = 'Project #<span class="id">' + data.id + '</span>';
            var superv = 'Superviser: <span class="superv">' + data.superv + '</span>';
            var description = '<p class="description">' + data.description + '</span>';

            $('#project-detail').html(title + id + superv + description);
          },
          'error': function(data){ console.log(data); }
        });
      });
    </script>
</body>
</html>